In [1]:
import re
from collections import Counter
import pandas as pd 
import numpy as np




import nltk
from nltk.corpus import stopwords
stop = stopwords.words('english')





import difflib



import math
WORD = re.compile(r"\w+")

In [2]:
def words(text): return re.findall(r'\w+', text.lower())

In [3]:
data = pd.read_csv("D:/Indian Personality/first10100.csv")

In [4]:
data_categories = data['Categories']
title = data['Title']
content = data['Content']

In [5]:
"""
Now we'll convert data_categories into proper list to be used 
"""

def to_list(s) :
    s = s.replace("[","")
    s = s.replace("]","")
    s = s.replace("'","")
    s = s.replace("'","")
    
    return list(s.split(","))

In [6]:
%%time 


for i in range(10088) :
    data_categories[i] = to_list(data_categories[i])

<timed exec>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Wall time: 1.39 s

In [7]:
import re

# If you need to use the regex more than once it is suggested to compile it.
pattern = re.compile(r"[\n]+")
pattern2 = re.compile(r"[=]+")

In [8]:
%%time
for i in range(10088) :
    content[i] = pattern.sub("",content[i])
    content[i] = pattern2.sub("",content[i])

<timed exec>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
<timed exec>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Wall time: 7.68 s

In [9]:
len(stop)

179

In [10]:
%%time

text = " "
for i in range(10088) :
    text += ''.join(data_categories[i])
    
    
for i in range(10088) :
    text += title[i]
    text += " "

Wall time: 9.97 s

In [11]:
%%time
WORDS = Counter(words(text))

Wall time: 635 ms

In [12]:
def correction_inside(word) :
    words = word.split()
    final_suggestion_list = []
    final_suggestion_dict = {}
    final_ans = []
    for w in words :
        w = w.lower()
        cor_word = []
        counter = 0 
        max_score = 0 
        text = " "
        for i in WORDS :
            i = i.lower()
            #print(i,word)
            #print(difflib.SequenceMatcher(None,word,i).ratio()) 
            score = difflib.SequenceMatcher(None,w,i).ratio()
            """
            Apart from sending max word we'll also certain other combinations 
            """
                        
            if(score > 0.7) :
                cor_word.append(i)
                
            
            
            if(score > max_score) :
                max_score = score 
                text = i
        final_ans.append(text)
        final_suggestion_dict[w] = cor_word
                
            

        
            
            
    return final_ans , final_suggestion_dict

In [13]:
def correction(words) :
    words = words.split(" ")
    word = "" 
    for w in words :
        w = w.lower()
        if w not in stop :
            word += w
            word += " "
    #print("Input query  ",word)
    correct_word , suggestions = correction_inside(word) 
    print("Searching for .......    ",correct_word,"\n")
    print("Here is the list of similar words you may be looking for ...............\n")
    for k in suggestions :
        print(k,"    ",suggestions[k],"\n")
    
    
    print("If the suggestion is correct then press continue otherwise you can research your query")
    return correct_word

In [14]:
correction("When was Atal Vihari Vajpayee born")

Searching for .......     ['atal', 'bihari', 'vajpayee', 'born']

Here is the list of similar words you may be looking for ...............

atal      ['patiala', 'factual', 'data', 'santali', 'martial', 'tata', 'talk', 'coastal', 'kaithal', 'capital', 'partial', 'natural', 'akal', 'catalan', 'pattali', 'iata', 'natal', 'atal', 'actual', 'rateall', 'artsall', 'atul', 'bantwal', 'bhatkal', 'mata', 'aitwal', 'amal', 'aata', 'atwal', 'paintal', 'bhattal', 'atrauli', 'tala', 'ajitpal', 'ratilal', 'lata', 'katchal', 'mathpal', 'batalvi', 'satpal', 'matilal', 'vatsal', 'vatal']

vihari      ['bihar', 'motihari', 'bihari', 'tihar', 'hari', 'vaishali', 'niharika', 'kavishar', 'bhikhari', 'avari', 'virji', 'srihari', 'vinubhai', 'vibha', 'ishar']

vajpayee      ['jaypee', 'vajpayee', 'jayee']

born      ['korn', 'osborne', 'horn', 'bryn', 'boer', 'bone', 'borneo', 'born', 'bora', 'bond', 'boro']

If the suggestion is correct then press continue otherwise you can research your query

['atal', 'bihari', 'vajpayee', 'born']

##### Keywords

In [15]:
%%time

### Keyword will store all keywords 

keyword = [0 for i in range(10000000)]
counter = 0
for i in range(10088) :
    keyword[counter] = title[i].lower()
    counter += 1 
    
for i in range(10088) :
    for j in range(len(data_categories[i])) :
        keyword[counter] = data_categories[i][j].lower()
        counter += 1

Wall time: 4.9 s

In [16]:
"When was Atal Vihari Vajpayee born".lower()

'when was atal vihari vajpayee born'

In [17]:
for i in range(counter) :
    if keyword[i] in "When was Atal Bihari Vajpayee born".lower() :
        print(keyword[i])

atal bihari vajpayee
ay
bihar
 bihar
 bihar
 bihar
 atal bihari vajpayee
 atal bihari vajpayee
 bihar
 bihar
 bihar
 bihar
 bihar
 bihar

In [18]:
keyword = keyword[:counter]
keyword = list(set(keyword))
counter = len(keyword)
print(counter)

37199

In [141]:
def find_relevant_page(query) :
    query = query.lower()
    keyword_list = [0 for I in range(10000)]
    counterL = 0 
    for i in range(counter) :
        if keyword[i] in query :
            #print(keyword[i])
            keyword_list[counterL] = keyword[i]
            counterL += 1
    return list(set(keyword_list[:counterL]))

def is_title_imp(query) :
    query = query.lower()
    keyword_list = [0 for I in range(10000)]
    counterL = 0 
    for i in range(10088) :
        if title[i].lower() in query :
            #print(keyword[i])
            for j in range(len(data_categories[i])) :
                if 'births' in data_categories[i][j].lower() :
                    keyword_list[counterL] = title[i]
                    counterL += 1
                    print("Added .......",title[i],"\n")
                    break 
                    
                if 'deaths' in data_categories[i][j].lower() :
                    keyword_list[counterL] = title[i]
                    counterL += 1
                    print("Added .......",title[i],"\n")
                    
    
    return list(set(keyword_list[:counterL]))



def find_keyword(query) :
    List = is_title_imp(query) 
    if( not len(List)) :
        print("No title found .........................\n\n")
        List = find_relevant_page(query)
    #### Removing the keyword "Who" from it 
    if "who" in List :
        List.remove("who")
    return List

#### Correcting keyword part is yet to be done

In [20]:
def unique(keywords):
    keys = []
    for s in keywords:
        if not any([s in r for r in keywords if s != r]):
            keys.append(s)
    
    return keys

In [21]:
imp_keywords = unique(find_keyword("list of bharat ratna from maharashtra"))
imp_keywords

No title found .........................

[' maharashtra', 'bharat ratna']

#### Finding all relevant pages

In [22]:
def get_cosine(vec1, vec2):
    intersection = set(vec1.keys()) & set(vec2.keys())
    numerator = sum([vec1[x] * vec2[x] for x in intersection])

    sum1 = sum([vec1[x] ** 2 for x in list(vec1.keys())])
    sum2 = sum([vec2[x] ** 2 for x in list(vec2.keys())])
    denominator = math.sqrt(sum1) * math.sqrt(sum2)

    if not denominator:
        return 0.0
    else:
        return float(numerator) / denominator


def text_to_vector(text):
    words = WORD.findall(text)
    return Counter(words)

In [23]:
%%time
for i in range(10088) :
    ## Converting all cat of this title to lower 
    for j in range(len(data_categories[i])) :
        data_categories[i][j] = data_categories[i][j].lower()

Wall time: 7.42 s

In [80]:
def content_find(keywords) :
    
    print("Case 0\n")
    contentZero = [0 for i in range(10088)]
    contentLent = 0 
    for i in range(10088) :
        if keywords[0].lower() == title[i].lower() :
            contentZero[contentLent] = content[i].lower() 
            contentLent += 1
    if(contentLent) :
        return contentZero[:contentLent] , 1
    
    contents = {}
    content_final = [0 for i in range(1000)]
    final_counter =  0 
    
    
    list_of_title = [0 for i in range(100088)] 
    counterL = 0 
    done = 0 # Done is 1 if we have got titles matching keywords 
    ## First looking for any title matching [But only if number of keywords is 1]
    if(len(keywords) == 1) :
        print("Case 1")
        for i in range(10088) :
            if keywords[0].lower() in title[i].lower() :
                print(title[i].lower()," and index is ",i,"\n")
                done = 1
                contents[get_cosine(text_to_vector(keywords[0]),text_to_vector(title[i]))] = (content[i],title[i])
                    
        
        l = list(contents.items())
        l.sort(reverse=True)
        contents = dict(l)
       # print("Sorted and converted to dictionary again ")
        only5 = 0 
        for k in contents :
            only5+=1 
            content_final[final_counter] = contents[k][0]
            final_counter += 1
            #print("Content and title are  ..........",contents[k][0],"\n\n\n",contents[k][1])
            if(only5 == 5) :
                break 
        if(done == 1 ) :
            return content_final[:final_counter] ,1 
    
    
    ### The case we'll have to return list of answer is left 
    index_title = [0 for i in range(100088)] 
    
    if(done == 0) :
        print("Case 2 ")
        all_titles = [0 for i in range(10088)]
        for i in range(10088) : 
            done = 0 
            lenK = len(keywords)
            for k in range(lenK) :
                for z in range(len(data_categories[i])) :
                    if keywords[k] in data_categories[i][z].lower() :
                        done += 1 
                        break 
            if(done == lenK) :
                list_of_title[counterL] = title[i] 
                index_title[counterL] = i
                counterL += 1 
                print("Title added is ...................",title[i])
        if(counterL < 4) :
            print("Inside here")
            for i in range(4) :
                content_final[final_counter] = content[index_title[i]]
                print(content_final[final_counter])
                final_counter += 1 
            return content_final[:final_counter] , 1
            
            
        return list_of_title[:counterL],2

In [25]:
sample_key = ['kalpana chawla']

content_list , number = content_find(sample_key)

Case 1
kalpana chawla  and index is  9779

In [26]:
def all_preprocessing(query) :
    query = query.lower()
    ##Spelling correction 
    correct = correction(query) 
    done = int(input()) 
    while(not done) :
        print("Input your query again .......................")
        query = input(query)
        #correct = correction(query)
        done = int(input())
    imp_keywords,num = unique(find_keyword(query))
    #### Removing the extra ' ' from front from all keywords 
    for i in range(len(imp_keywords)) :
        if(imp_keywords[i][0] == ' ') :
            #print(imp_keywords[i])
            imp_keywords[i] = imp_keywords[i][1:] 
    print("imp keyword is ................",imp_keywords)
    content_list , number = content_find(imp_keywords)
    
    return content_list , number

In [27]:
query = "What kalpana chawla spoke"
Con_list , num_type = all_preprocessing(query)

Searching for .......     ['kalpana', 'chawla', 'spoken']

Here is the list of similar words you may be looking for ...............

kalpana      ['maulana', 'kala', 'kalakar', 'apna', 'albania', 'nalanda', 'kalyani', 'kalpana', 'kaalapani', 'pallana', 'kalyan', 'kapadia', 'aparna', 'kalpen', 'kalpeni', 'kaliprasanna', 'kalpnath', 'kalanaur', 'kalyana', 'kalipada', 'kalakankar', 'kapany', 'kalanath', 'kangana']

chawla      ['chalukya', 'chautala', 'chola', 'hawai', 'chakwal', 'chawla', 'chaliha', 'hala', 'chandela', 'chamkila', 'chandola']

spoke      ['spoken', 'spikes', 'smoked', 'poker', 'stokes', 'ashoke']

If the suggestion is correct then press continue otherwise you can research your query
1
No title found .........................


imp keyword is ................ ['kalpana chawla']
Case 1
kalpana chawla  and index is  9779

In [28]:
Con_list

['Kalpana Chawla (17 March 1962 – 1 February 2003) was an American astronaut, engineer, and the first woman of Indian origin to go to space. She first flew on Space Shuttle Columbia in 1997 as a mission specialist and primary robotic arm operator. In 2003, Chawla was one of the seven crew members who died in the Space Shuttle Columbia disaster when the spacecraft disintegrated during its re-entry into the Earth\'s atmosphere. Chawla was posthumously awarded the Congressional Space Medal of Honor, and several streets, universities, and institutions have been named in her honor. She is regarded as a national hero in India. Early life Kalpana Chawla was born on 17 March 1962, in Karnal of present-day Haryana, India, but her official date of birth was altered to 1 July 1961, to allow her to become eligible for the matriculation exam. As a child, she was fascinated by aeroplanes and flying. She went to local flying clubs and watched planes with her father. After getting a Bachelor of Engineering degree in Aeronautical Engineering from Punjab Engineering College, India, she moved to the United States in 1982 and obtained a Master of Science degree in Aerospace Engineering from the University of Texas at Arlington in 1984. Chawla went on to earn a second Masters in 1986 and a PhD in aerospace engineering in 1988 from the University of Colorado Boulder.Chawla was married to Jean-Pierre Harrison. Career In 1988, she began working at NASA Ames Research Center, where she did computational fluid dynamics (CFD) research on vertical and/or short take-off and landing (V/STOL) concepts. Much of Chawla\'s research is included in technical journals and conference papers. In 1993, she joined Overset Methods, Inc. as Vice President and Research Scientist specializing in simulation of moving multiple body problems. Chawla held a Certificated Flight Instructor rating for airplanes, gliders and Commercial Pilot licenses for single and multi-engine airplanes, seaplanes and gliders. After becoming a naturalized U.S. citizen in April 1991, Chawla applied for the NASA Astronaut Corps. She joined the corps in March 1995 and was selected for her first flight in 1996. First space mission Her first space mission began on 19 November 1997, as part of the six-astronaut crew that flew the Space Shuttle Columbia flight STS-87. Chawla was the first Indian woman to fly in space. She spoke the following words while traveling in the weightlessness of space, "You are just your intelligence." On her first mission, Chawla traveled over 10.4 million miles (16737177.6 km) in 252 orbits of the earth, logging more than 372 hours (15 days and 12 hours) in space. During STS-87, she was responsible for deploying the Spartan Satellite which malfunctioned, necessitating a spacewalk by Winston Scott and Takao Doi to capture the satellite. A five-month NASA investigation fully exonerated Chawla by identifying errors in software interfaces and the defined procedures of the flight crew and ground control. After the completion of STS-87 post-flight activities, Chawla was assigned to technical positions in the astronaut office to work on the space station. Second space mission In 2001, Chawla was selected for her second flight as part of the crew of STS-107. This mission was repeatedly delayed due to scheduling conflicts and technical problems such as the July 2002 discovery of cracks in the shuttle engine flow liners. On 16 January 2003, Chawla finally returned to space aboard Space Shuttle Columbia on the ill-fated STS-107 mission. The crew performed nearly 80 experiments studying Earth and space science, advanced technology development, and astronaut health and safety. During the launch of STS-107, Columbia\'s 28th mission, a piece of foam insulation broke off from the Space Shuttle external tank and struck the left-wing of the orbiter. Previous shuttle launches had seen minor damage from foam shedding, but some engineers suspected that the damage to Columbia was more serious. NASA managers limited the investigation, reasoning that the crew could not have fixed the problem if it had been confirmed. When Columbia re-entered the atmosphere of Earth, the damage allowed hot atmospheric gases to penetrate and destroy the internal wing structure, which caused the spacecraft to become unstable and break apart. After the disaster, Space Shuttle flight operations were suspended for more than two years, similar to the aftermath of the Challenger disaster. Construction of the International Space Station (ISS) was put on hold; the station relied entirely on the Russian Roscosmos State Corporation for resupply for 29 months until Shuttle flights resumed with STS-114 and 41 months for crew rotation.Chawla died on 1 February 2003, in the Space Shuttle Columbia disaster, along with the other six crew members, when the Columbia disintegrated over Texas during re-entry into the Earth\'s atmosphere, shortly before it was scheduled to conclude its 28th mission, STS-107. Her remains were identified along with those of the rest of the crew members and were cremated and scattered at Zion National Park in Utah in accordance with her wishes. Honors and recognition The fourteenth contracted Northrop Grumman Cygnus spacecraft mission delivering supplies to the ISS was named the "S.S. Kalpana Chawla" after her.Asteroid 51826 Kalpana chawla, one of seven named after the Columbia\'s crew.On 5 February 2003, the Prime Minister of India, Atal Bihari Vajpayee announced that the meteorological series of satellites, MetSat, was to be renamed "Kalpana". The first satellite of the series, "MetSat-1", launched by India on 12 September 2002 was renamed "Kalpana-1".74th Street in the "Little India" of Jackson Heights, Queens, New York City, New York, United States has been renamed "Kalpana Chawla Way" in her honor.The Kalpana Chawla Award was instituted by the Government of Karnataka in 2004 to recognize young women scientists.NASA has dedicated a supercomputer to Chawla.One of Florida Institute of Technology\'s student apartment complexes, Columbia Village Suites, has halls named after each of the astronauts, including Chawla.The NASA Mars Exploration Rover mission has named seven peaks in a chain of hills, named the Columbia Hills, after each of the seven astronauts lost in the Columbia shuttle disaster. One of them is Chawla Hill, named after Chawla.Steve Morse from the band Deep Purple created the song "Contact Lost" in memory of the Columbia tragedy along with her interest in the band. The song can be found on the album Bananas.Novelist Peter David named a shuttlecraft, the Chawla, after the astronaut in his 2007 Star Trek novel, Star Trek: The Next Generation: Before Dishonor.The Kalpana Chawla ISU Scholarship fund was founded by alumni of the International Space University (ISU) in 2010 to support Indian women\'s participation in international space education programs.The Kalpana Chawla Memorial Scholarship program was instituted by the Indian Students Association (ISA) at the University of Texas at El Paso (UTEP) in 2005 for meritorious graduate students.The Kalpana Chawla Outstanding Recent Alumni Award at the University of Colorado, given since 1983, was renamed after Chawla.The University of Texas at Arlington, where Chawla obtained a Master of Science degree in aerospace engineering in 1984, opened a dormitory named Kalpana Chawla Hall in 2004. In addition, the university dedicated the Kalpana Chawla Memorial on 3 May 2010, in Nedderman Hall, one of the primary buildings in the College of Engineering.The girls\' hostel at Punjab Engineering College is named after Chawla. In addition, an award of INR twenty-five thousand, a medal, and a certificate is instituted for the best student in the Aeronautical Engineering department.The Government of Haryana established the Kalpana Chawla Planetarium in Jyotisar, Kurukshetra.The Indian Institute of Technology, Kharagpur, named the Kalpana Chawla Space Technology Cell in her honor.Delhi Technological University named a girls\' hostel block after Chawla.A military housing development at Naval Air Station Patuxent River, Maryland, has been named Columbia Colony and includes a street named Chawla Way.A hostel block in Pondicherry University has been named after Chawla.Kalpana Chawla Government Medical College (KCGMC) is a Medical College located in Karnal, Haryana, India named after Chawla.The National Institute of Technology Kurukshetra named a girls\' hostel after Chawla.The National Institute of Technology Bhopal named girl\'s hostel named KALPANA CHAWLA BHAWAN.  See also List of Asian Americans § SpaceList of female spacefarers References  Further reading Among the Stars!: Life and Dreams of Kalpana Chawla by Gurdeep PandherIndia\'s 50 Most Illustrious Women (ISBN 81-88086-19-3) by Indra GuptaKalpana Chawla: A Life (ISBN 0-14-333586-3) by Anil PadmanabhanThe Edge of Time: The Authoritative Biography of Kalpana Chawla (ISBN 978-0976827917) by Jean-Pierre Harrison External links "KALPANA CHAWLA (PH.D.)". NASA. February 2003. Retrieved 7 May 2019.NASA biography']

In [29]:
%%time

import torch
from transformers import AlbertTokenizer, AlbertForQuestionAnswering
tokenizer = AlbertTokenizer.from_pretrained('ahotrod/albert_xxlargev1_squad2_512')
model = AlbertForQuestionAnswering.from_pretrained('D:/albert')

Wall time: 34.3 s

In [30]:
def answer(question, text):
    input_dict = tokenizer.encode_plus(question, text, return_tensors='pt')
    input_ids = input_dict["input_ids"].tolist()
    start_scores, end_scores = model(**input_dict,return_dict=False)
    
    ##Return_dict is important 
    start = torch.argmax(start_scores)
    end = torch.argmax(end_scores)
    
    #print("Scores are " ,start_scores ," ", end_scores,"\n")
    
    all_tokens = tokenizer.convert_ids_to_tokens(input_ids[0])
    answer = ''.join(all_tokens[start: end + 1]).replace('▁', ' ').strip()
    answer = answer.replace('[SEP]', '')
    return answer if answer != '[CLS]' and len(answer) != 0 else 'could not find an answer'

In [31]:
pattern3 = re.compile(r"[\n]+")
pattern4 = re.compile(r"[=]+")

In [32]:
%%time
for i in range(len(Con_list)) :
    Con_list[i] = pattern3.sub("",Con_list[i])
    Con_list[i] = pattern4.sub("",Con_list[i])

Wall time: 0 ns

In [33]:
Con_list

['Kalpana Chawla (17 March 1962 – 1 February 2003) was an American astronaut, engineer, and the first woman of Indian origin to go to space. She first flew on Space Shuttle Columbia in 1997 as a mission specialist and primary robotic arm operator. In 2003, Chawla was one of the seven crew members who died in the Space Shuttle Columbia disaster when the spacecraft disintegrated during its re-entry into the Earth\'s atmosphere. Chawla was posthumously awarded the Congressional Space Medal of Honor, and several streets, universities, and institutions have been named in her honor. She is regarded as a national hero in India. Early life Kalpana Chawla was born on 17 March 1962, in Karnal of present-day Haryana, India, but her official date of birth was altered to 1 July 1961, to allow her to become eligible for the matriculation exam. As a child, she was fascinated by aeroplanes and flying. She went to local flying clubs and watched planes with her father. After getting a Bachelor of Engineering degree in Aeronautical Engineering from Punjab Engineering College, India, she moved to the United States in 1982 and obtained a Master of Science degree in Aerospace Engineering from the University of Texas at Arlington in 1984. Chawla went on to earn a second Masters in 1986 and a PhD in aerospace engineering in 1988 from the University of Colorado Boulder.Chawla was married to Jean-Pierre Harrison. Career In 1988, she began working at NASA Ames Research Center, where she did computational fluid dynamics (CFD) research on vertical and/or short take-off and landing (V/STOL) concepts. Much of Chawla\'s research is included in technical journals and conference papers. In 1993, she joined Overset Methods, Inc. as Vice President and Research Scientist specializing in simulation of moving multiple body problems. Chawla held a Certificated Flight Instructor rating for airplanes, gliders and Commercial Pilot licenses for single and multi-engine airplanes, seaplanes and gliders. After becoming a naturalized U.S. citizen in April 1991, Chawla applied for the NASA Astronaut Corps. She joined the corps in March 1995 and was selected for her first flight in 1996. First space mission Her first space mission began on 19 November 1997, as part of the six-astronaut crew that flew the Space Shuttle Columbia flight STS-87. Chawla was the first Indian woman to fly in space. She spoke the following words while traveling in the weightlessness of space, "You are just your intelligence." On her first mission, Chawla traveled over 10.4 million miles (16737177.6 km) in 252 orbits of the earth, logging more than 372 hours (15 days and 12 hours) in space. During STS-87, she was responsible for deploying the Spartan Satellite which malfunctioned, necessitating a spacewalk by Winston Scott and Takao Doi to capture the satellite. A five-month NASA investigation fully exonerated Chawla by identifying errors in software interfaces and the defined procedures of the flight crew and ground control. After the completion of STS-87 post-flight activities, Chawla was assigned to technical positions in the astronaut office to work on the space station. Second space mission In 2001, Chawla was selected for her second flight as part of the crew of STS-107. This mission was repeatedly delayed due to scheduling conflicts and technical problems such as the July 2002 discovery of cracks in the shuttle engine flow liners. On 16 January 2003, Chawla finally returned to space aboard Space Shuttle Columbia on the ill-fated STS-107 mission. The crew performed nearly 80 experiments studying Earth and space science, advanced technology development, and astronaut health and safety. During the launch of STS-107, Columbia\'s 28th mission, a piece of foam insulation broke off from the Space Shuttle external tank and struck the left-wing of the orbiter. Previous shuttle launches had seen minor damage from foam shedding, but some engineers suspected that the damage to Columbia was more serious. NASA managers limited the investigation, reasoning that the crew could not have fixed the problem if it had been confirmed. When Columbia re-entered the atmosphere of Earth, the damage allowed hot atmospheric gases to penetrate and destroy the internal wing structure, which caused the spacecraft to become unstable and break apart. After the disaster, Space Shuttle flight operations were suspended for more than two years, similar to the aftermath of the Challenger disaster. Construction of the International Space Station (ISS) was put on hold; the station relied entirely on the Russian Roscosmos State Corporation for resupply for 29 months until Shuttle flights resumed with STS-114 and 41 months for crew rotation.Chawla died on 1 February 2003, in the Space Shuttle Columbia disaster, along with the other six crew members, when the Columbia disintegrated over Texas during re-entry into the Earth\'s atmosphere, shortly before it was scheduled to conclude its 28th mission, STS-107. Her remains were identified along with those of the rest of the crew members and were cremated and scattered at Zion National Park in Utah in accordance with her wishes. Honors and recognition The fourteenth contracted Northrop Grumman Cygnus spacecraft mission delivering supplies to the ISS was named the "S.S. Kalpana Chawla" after her.Asteroid 51826 Kalpana chawla, one of seven named after the Columbia\'s crew.On 5 February 2003, the Prime Minister of India, Atal Bihari Vajpayee announced that the meteorological series of satellites, MetSat, was to be renamed "Kalpana". The first satellite of the series, "MetSat-1", launched by India on 12 September 2002 was renamed "Kalpana-1".74th Street in the "Little India" of Jackson Heights, Queens, New York City, New York, United States has been renamed "Kalpana Chawla Way" in her honor.The Kalpana Chawla Award was instituted by the Government of Karnataka in 2004 to recognize young women scientists.NASA has dedicated a supercomputer to Chawla.One of Florida Institute of Technology\'s student apartment complexes, Columbia Village Suites, has halls named after each of the astronauts, including Chawla.The NASA Mars Exploration Rover mission has named seven peaks in a chain of hills, named the Columbia Hills, after each of the seven astronauts lost in the Columbia shuttle disaster. One of them is Chawla Hill, named after Chawla.Steve Morse from the band Deep Purple created the song "Contact Lost" in memory of the Columbia tragedy along with her interest in the band. The song can be found on the album Bananas.Novelist Peter David named a shuttlecraft, the Chawla, after the astronaut in his 2007 Star Trek novel, Star Trek: The Next Generation: Before Dishonor.The Kalpana Chawla ISU Scholarship fund was founded by alumni of the International Space University (ISU) in 2010 to support Indian women\'s participation in international space education programs.The Kalpana Chawla Memorial Scholarship program was instituted by the Indian Students Association (ISA) at the University of Texas at El Paso (UTEP) in 2005 for meritorious graduate students.The Kalpana Chawla Outstanding Recent Alumni Award at the University of Colorado, given since 1983, was renamed after Chawla.The University of Texas at Arlington, where Chawla obtained a Master of Science degree in aerospace engineering in 1984, opened a dormitory named Kalpana Chawla Hall in 2004. In addition, the university dedicated the Kalpana Chawla Memorial on 3 May 2010, in Nedderman Hall, one of the primary buildings in the College of Engineering.The girls\' hostel at Punjab Engineering College is named after Chawla. In addition, an award of INR twenty-five thousand, a medal, and a certificate is instituted for the best student in the Aeronautical Engineering department.The Government of Haryana established the Kalpana Chawla Planetarium in Jyotisar, Kurukshetra.The Indian Institute of Technology, Kharagpur, named the Kalpana Chawla Space Technology Cell in her honor.Delhi Technological University named a girls\' hostel block after Chawla.A military housing development at Naval Air Station Patuxent River, Maryland, has been named Columbia Colony and includes a street named Chawla Way.A hostel block in Pondicherry University has been named after Chawla.Kalpana Chawla Government Medical College (KCGMC) is a Medical College located in Karnal, Haryana, India named after Chawla.The National Institute of Technology Kurukshetra named a girls\' hostel after Chawla.The National Institute of Technology Bhopal named girl\'s hostel named KALPANA CHAWLA BHAWAN.  See also List of Asian Americans § SpaceList of female spacefarers References  Further reading Among the Stars!: Life and Dreams of Kalpana Chawla by Gurdeep PandherIndia\'s 50 Most Illustrious Women (ISBN 81-88086-19-3) by Indra GuptaKalpana Chawla: A Life (ISBN 0-14-333586-3) by Anil PadmanabhanThe Edge of Time: The Authoritative Biography of Kalpana Chawla (ISBN 978-0976827917) by Jean-Pierre Harrison External links "KALPANA CHAWLA (PH.D.)". NASA. February 2003. Retrieved 7 May 2019.NASA biography']

In [34]:
def get_cosine(vec1, vec2):
    intersection = set(vec1.keys()) & set(vec2.keys())
    numerator = sum([vec1[x] * vec2[x] for x in intersection])

    sum1 = sum([vec1[x] ** 2 for x in list(vec1.keys())])
    sum2 = sum([vec2[x] ** 2 for x in list(vec2.keys())])
    denominator = math.sqrt(sum1) * math.sqrt(sum2)

    if not denominator:
        return 0.0
    else:
        return float(numerator) / denominator


def text_to_vector(text):
    words = WORD.findall(text)
    return Counter(words)

In [35]:
vector1 = text_to_vector(query)

In [36]:
vector1

Counter({'What': 1, 'kalpana': 1, 'chawla': 1, 'spoke': 1})

In [37]:
len(Con_list)

1

##### Adding all text of Con_list

In [38]:
text = ""
for i in range(len(Con_list)) :
    text += Con_list[i] 
    text += " "

In [39]:
text

'Kalpana Chawla (17 March 1962 – 1 February 2003) was an American astronaut, engineer, and the first woman of Indian origin to go to space. She first flew on Space Shuttle Columbia in 1997 as a mission specialist and primary robotic arm operator. In 2003, Chawla was one of the seven crew members who died in the Space Shuttle Columbia disaster when the spacecraft disintegrated during its re-entry into the Earth\'s atmosphere. Chawla was posthumously awarded the Congressional Space Medal of Honor, and several streets, universities, and institutions have been named in her honor. She is regarded as a national hero in India. Early life Kalpana Chawla was born on 17 March 1962, in Karnal of present-day Haryana, India, but her official date of birth was altered to 1 July 1961, to allow her to become eligible for the matriculation exam. As a child, she was fascinated by aeroplanes and flying. She went to local flying clubs and watched planes with her father. After getting a Bachelor of Engineering degree in Aeronautical Engineering from Punjab Engineering College, India, she moved to the United States in 1982 and obtained a Master of Science degree in Aerospace Engineering from the University of Texas at Arlington in 1984. Chawla went on to earn a second Masters in 1986 and a PhD in aerospace engineering in 1988 from the University of Colorado Boulder.Chawla was married to Jean-Pierre Harrison. Career In 1988, she began working at NASA Ames Research Center, where she did computational fluid dynamics (CFD) research on vertical and/or short take-off and landing (V/STOL) concepts. Much of Chawla\'s research is included in technical journals and conference papers. In 1993, she joined Overset Methods, Inc. as Vice President and Research Scientist specializing in simulation of moving multiple body problems. Chawla held a Certificated Flight Instructor rating for airplanes, gliders and Commercial Pilot licenses for single and multi-engine airplanes, seaplanes and gliders. After becoming a naturalized U.S. citizen in April 1991, Chawla applied for the NASA Astronaut Corps. She joined the corps in March 1995 and was selected for her first flight in 1996. First space mission Her first space mission began on 19 November 1997, as part of the six-astronaut crew that flew the Space Shuttle Columbia flight STS-87. Chawla was the first Indian woman to fly in space. She spoke the following words while traveling in the weightlessness of space, "You are just your intelligence." On her first mission, Chawla traveled over 10.4 million miles (16737177.6 km) in 252 orbits of the earth, logging more than 372 hours (15 days and 12 hours) in space. During STS-87, she was responsible for deploying the Spartan Satellite which malfunctioned, necessitating a spacewalk by Winston Scott and Takao Doi to capture the satellite. A five-month NASA investigation fully exonerated Chawla by identifying errors in software interfaces and the defined procedures of the flight crew and ground control. After the completion of STS-87 post-flight activities, Chawla was assigned to technical positions in the astronaut office to work on the space station. Second space mission In 2001, Chawla was selected for her second flight as part of the crew of STS-107. This mission was repeatedly delayed due to scheduling conflicts and technical problems such as the July 2002 discovery of cracks in the shuttle engine flow liners. On 16 January 2003, Chawla finally returned to space aboard Space Shuttle Columbia on the ill-fated STS-107 mission. The crew performed nearly 80 experiments studying Earth and space science, advanced technology development, and astronaut health and safety. During the launch of STS-107, Columbia\'s 28th mission, a piece of foam insulation broke off from the Space Shuttle external tank and struck the left-wing of the orbiter. Previous shuttle launches had seen minor damage from foam shedding, but some engineers suspected that the damage to Columbia was more serious. NASA managers limited the investigation, reasoning that the crew could not have fixed the problem if it had been confirmed. When Columbia re-entered the atmosphere of Earth, the damage allowed hot atmospheric gases to penetrate and destroy the internal wing structure, which caused the spacecraft to become unstable and break apart. After the disaster, Space Shuttle flight operations were suspended for more than two years, similar to the aftermath of the Challenger disaster. Construction of the International Space Station (ISS) was put on hold; the station relied entirely on the Russian Roscosmos State Corporation for resupply for 29 months until Shuttle flights resumed with STS-114 and 41 months for crew rotation.Chawla died on 1 February 2003, in the Space Shuttle Columbia disaster, along with the other six crew members, when the Columbia disintegrated over Texas during re-entry into the Earth\'s atmosphere, shortly before it was scheduled to conclude its 28th mission, STS-107. Her remains were identified along with those of the rest of the crew members and were cremated and scattered at Zion National Park in Utah in accordance with her wishes. Honors and recognition The fourteenth contracted Northrop Grumman Cygnus spacecraft mission delivering supplies to the ISS was named the "S.S. Kalpana Chawla" after her.Asteroid 51826 Kalpana chawla, one of seven named after the Columbia\'s crew.On 5 February 2003, the Prime Minister of India, Atal Bihari Vajpayee announced that the meteorological series of satellites, MetSat, was to be renamed "Kalpana". The first satellite of the series, "MetSat-1", launched by India on 12 September 2002 was renamed "Kalpana-1".74th Street in the "Little India" of Jackson Heights, Queens, New York City, New York, United States has been renamed "Kalpana Chawla Way" in her honor.The Kalpana Chawla Award was instituted by the Government of Karnataka in 2004 to recognize young women scientists.NASA has dedicated a supercomputer to Chawla.One of Florida Institute of Technology\'s student apartment complexes, Columbia Village Suites, has halls named after each of the astronauts, including Chawla.The NASA Mars Exploration Rover mission has named seven peaks in a chain of hills, named the Columbia Hills, after each of the seven astronauts lost in the Columbia shuttle disaster. One of them is Chawla Hill, named after Chawla.Steve Morse from the band Deep Purple created the song "Contact Lost" in memory of the Columbia tragedy along with her interest in the band. The song can be found on the album Bananas.Novelist Peter David named a shuttlecraft, the Chawla, after the astronaut in his 2007 Star Trek novel, Star Trek: The Next Generation: Before Dishonor.The Kalpana Chawla ISU Scholarship fund was founded by alumni of the International Space University (ISU) in 2010 to support Indian women\'s participation in international space education programs.The Kalpana Chawla Memorial Scholarship program was instituted by the Indian Students Association (ISA) at the University of Texas at El Paso (UTEP) in 2005 for meritorious graduate students.The Kalpana Chawla Outstanding Recent Alumni Award at the University of Colorado, given since 1983, was renamed after Chawla.The University of Texas at Arlington, where Chawla obtained a Master of Science degree in aerospace engineering in 1984, opened a dormitory named Kalpana Chawla Hall in 2004. In addition, the university dedicated the Kalpana Chawla Memorial on 3 May 2010, in Nedderman Hall, one of the primary buildings in the College of Engineering.The girls\' hostel at Punjab Engineering College is named after Chawla. In addition, an award of INR twenty-five thousand, a medal, and a certificate is instituted for the best student in the Aeronautical Engineering department.The Government of Haryana established the Kalpana Chawla Planetarium in Jyotisar, Kurukshetra.The Indian Institute of Technology, Kharagpur, named the Kalpana Chawla Space Technology Cell in her honor.Delhi Technological University named a girls\' hostel block after Chawla.A military housing development at Naval Air Station Patuxent River, Maryland, has been named Columbia Colony and includes a street named Chawla Way.A hostel block in Pondicherry University has been named after Chawla.Kalpana Chawla Government Medical College (KCGMC) is a Medical College located in Karnal, Haryana, India named after Chawla.The National Institute of Technology Kurukshetra named a girls\' hostel after Chawla.The National Institute of Technology Bhopal named girl\'s hostel named KALPANA CHAWLA BHAWAN.  See also List of Asian Americans § SpaceList of female spacefarers References  Further reading Among the Stars!: Life and Dreams of Kalpana Chawla by Gurdeep PandherIndia\'s 50 Most Illustrious Women (ISBN 81-88086-19-3) by Indra GuptaKalpana Chawla: A Life (ISBN 0-14-333586-3) by Anil PadmanabhanThe Edge of Time: The Authoritative Biography of Kalpana Chawla (ISBN 978-0976827917) by Jean-Pierre Harrison External links "KALPANA CHAWLA (PH.D.)". NASA. February 2003. Retrieved 7 May 2019.NASA biography '

In [40]:
text = text.split(".")

In [41]:
text

['Kalpana Chawla (17 March 1962 – 1 February 2003) was an American astronaut, engineer, and the first woman of Indian origin to go to space',
 ' She first flew on Space Shuttle Columbia in 1997 as a mission specialist and primary robotic arm operator',
 " In 2003, Chawla was one of the seven crew members who died in the Space Shuttle Columbia disaster when the spacecraft disintegrated during its re-entry into the Earth's atmosphere",
 ' Chawla was posthumously awarded the Congressional Space Medal of Honor, and several streets, universities, and institutions have been named in her honor',
 ' She is regarded as a national hero in India',
 ' Early life Kalpana Chawla was born on 17 March 1962, in Karnal of present-day Haryana, India, but her official date of birth was altered to 1 July 1961, to allow her to become eligible for the matriculation exam',
 ' As a child, she was fascinated by aeroplanes and flying',
 ' She went to local flying clubs and watched planes with her father',
 ' After getting a Bachelor of Engineering degree in Aeronautical Engineering from Punjab Engineering College, India, she moved to the United States in 1982 and obtained a Master of Science degree in Aerospace Engineering from the University of Texas at Arlington in 1984',
 ' Chawla went on to earn a second Masters in 1986 and a PhD in aerospace engineering in 1988 from the University of Colorado Boulder',
 'Chawla was married to Jean-Pierre Harrison',
 ' Career In 1988, she began working at NASA Ames Research Center, where she did computational fluid dynamics (CFD) research on vertical and/or short take-off and landing (V/STOL) concepts',
 " Much of Chawla's research is included in technical journals and conference papers",
 ' In 1993, she joined Overset Methods, Inc',
 ' as Vice President and Research Scientist specializing in simulation of moving multiple body problems',
 ' Chawla held a Certificated Flight Instructor rating for airplanes, gliders and Commercial Pilot licenses for single and multi-engine airplanes, seaplanes and gliders',
 ' After becoming a naturalized U',
 'S',
 ' citizen in April 1991, Chawla applied for the NASA Astronaut Corps',
 ' She joined the corps in March 1995 and was selected for her first flight in 1996',
 ' First space mission Her first space mission began on 19 November 1997, as part of the six-astronaut crew that flew the Space Shuttle Columbia flight STS-87',
 ' Chawla was the first Indian woman to fly in space',
 ' She spoke the following words while traveling in the weightlessness of space, "You are just your intelligence',
 '" On her first mission, Chawla traveled over 10',
 '4 million miles (16737177',
 '6 km) in 252 orbits of the earth, logging more than 372 hours (15 days and 12 hours) in space',
 ' During STS-87, she was responsible for deploying the Spartan Satellite which malfunctioned, necessitating a spacewalk by Winston Scott and Takao Doi to capture the satellite',
 ' A five-month NASA investigation fully exonerated Chawla by identifying errors in software interfaces and the defined procedures of the flight crew and ground control',
 ' After the completion of STS-87 post-flight activities, Chawla was assigned to technical positions in the astronaut office to work on the space station',
 ' Second space mission In 2001, Chawla was selected for her second flight as part of the crew of STS-107',
 ' This mission was repeatedly delayed due to scheduling conflicts and technical problems such as the July 2002 discovery of cracks in the shuttle engine flow liners',
 ' On 16 January 2003, Chawla finally returned to space aboard Space Shuttle Columbia on the ill-fated STS-107 mission',
 ' The crew performed nearly 80 experiments studying Earth and space science, advanced technology development, and astronaut health and safety',
 " During the launch of STS-107, Columbia's 28th mission, a piece of foam insulation broke off from the Space Shuttle external tank and struck the left-wing of the orbiter",
 ' Previous shuttle launches had seen minor damage from foam shedding, but some engineers suspected that the damage to Columbia was more serious',
 ' NASA managers limited the investigation, reasoning that the crew could not have fixed the problem if it had been confirmed',
 ' When Columbia re-entered the atmosphere of Earth, the damage allowed hot atmospheric gases to penetrate and destroy the internal wing structure, which caused the spacecraft to become unstable and break apart',
 ' After the disaster, Space Shuttle flight operations were suspended for more than two years, similar to the aftermath of the Challenger disaster',
 ' Construction of the International Space Station (ISS) was put on hold; the station relied entirely on the Russian Roscosmos State Corporation for resupply for 29 months until Shuttle flights resumed with STS-114 and 41 months for crew rotation',
 "Chawla died on 1 February 2003, in the Space Shuttle Columbia disaster, along with the other six crew members, when the Columbia disintegrated over Texas during re-entry into the Earth's atmosphere, shortly before it was scheduled to conclude its 28th mission, STS-107",
 ' Her remains were identified along with those of the rest of the crew members and were cremated and scattered at Zion National Park in Utah in accordance with her wishes',
 ' Honors and recognition The fourteenth contracted Northrop Grumman Cygnus spacecraft mission delivering supplies to the ISS was named the "S',
 'S',
 ' Kalpana Chawla" after her',
 "Asteroid 51826 Kalpana chawla, one of seven named after the Columbia's crew",
 'On 5 February 2003, the Prime Minister of India, Atal Bihari Vajpayee announced that the meteorological series of satellites, MetSat, was to be renamed "Kalpana"',
 ' The first satellite of the series, "MetSat-1", launched by India on 12 September 2002 was renamed "Kalpana-1"',
 '74th Street in the "Little India" of Jackson Heights, Queens, New York City, New York, United States has been renamed "Kalpana Chawla Way" in her honor',
 'The Kalpana Chawla Award was instituted by the Government of Karnataka in 2004 to recognize young women scientists',
 'NASA has dedicated a supercomputer to Chawla',
 "One of Florida Institute of Technology's student apartment complexes, Columbia Village Suites, has halls named after each of the astronauts, including Chawla",
 'The NASA Mars Exploration Rover mission has named seven peaks in a chain of hills, named the Columbia Hills, after each of the seven astronauts lost in the Columbia shuttle disaster',
 ' One of them is Chawla Hill, named after Chawla',
 'Steve Morse from the band Deep Purple created the song "Contact Lost" in memory of the Columbia tragedy along with her interest in the band',
 ' The song can be found on the album Bananas',
 'Novelist Peter David named a shuttlecraft, the Chawla, after the astronaut in his 2007 Star Trek novel, Star Trek: The Next Generation: Before Dishonor',
 "The Kalpana Chawla ISU Scholarship fund was founded by alumni of the International Space University (ISU) in 2010 to support Indian women's participation in international space education programs",
 'The Kalpana Chawla Memorial Scholarship program was instituted by the Indian Students Association (ISA) at the University of Texas at El Paso (UTEP) in 2005 for meritorious graduate students',
 'The Kalpana Chawla Outstanding Recent Alumni Award at the University of Colorado, given since 1983, was renamed after Chawla',
 'The University of Texas at Arlington, where Chawla obtained a Master of Science degree in aerospace engineering in 1984, opened a dormitory named Kalpana Chawla Hall in 2004',
 ' In addition, the university dedicated the Kalpana Chawla Memorial on 3 May 2010, in Nedderman Hall, one of the primary buildings in the College of Engineering',
 "The girls' hostel at Punjab Engineering College is named after Chawla",
 ' In addition, an award of INR twenty-five thousand, a medal, and a certificate is instituted for the best student in the Aeronautical Engineering department',
 'The Government of Haryana established the Kalpana Chawla Planetarium in Jyotisar, Kurukshetra',
 'The Indian Institute of Technology, Kharagpur, named the Kalpana Chawla Space Technology Cell in her honor',
 "Delhi Technological University named a girls' hostel block after Chawla",
 'A military housing development at Naval Air Station Patuxent River, Maryland, has been named Columbia Colony and includes a street named Chawla Way',
 'A hostel block in Pondicherry University has been named after Chawla',
 'Kalpana Chawla Government Medical College (KCGMC) is a Medical College located in Karnal, Haryana, India named after Chawla',
 "The National Institute of Technology Kurukshetra named a girls' hostel after Chawla",
 "The National Institute of Technology Bhopal named girl's hostel named KALPANA CHAWLA BHAWAN",
 '  See also List of Asian Americans § SpaceList of female spacefarers References  Further reading Among the Stars!: Life and Dreams of Kalpana Chawla by Gurdeep PandherIndia\'s 50 Most Illustrious Women (ISBN 81-88086-19-3) by Indra GuptaKalpana Chawla: A Life (ISBN 0-14-333586-3) by Anil PadmanabhanThe Edge of Time: The Authoritative Biography of Kalpana Chawla (ISBN 978-0976827917) by Jean-Pierre Harrison External links "KALPANA CHAWLA (PH',
 'D',
 ')"',
 ' NASA',
 ' February 2003',
 ' Retrieved 7 May 2019',
 'NASA biography ']

In [42]:
len(text)

78

In [43]:
%%time 

max_score = {}
for i in range(0,len(text)-1,1) :
    context = text[i] + text[i+1]
    vector2 = text_to_vector(context)
    max_score[get_cosine(vector1,vector2)] = i 

l = list(max_score.items())
l.sort(reverse=True)
max_score= dict(l)

Wall time: 3.05 ms

In [44]:
%%time
ans = "could not find an answer"
done = 0 
for k in max_score :
    index = max_score[k] 
    context = ""
    if(index != len(text)-1) :
        context = context = text[index] + text[index+1]
    else :
        context = context = text[index] + text[index-1]
    ans = answer(query,context)
    #print(ans,context)
    #print(done)
    done += 1 
    if(ans != "could not find an answer" ) :
        ans = ans.replace("[CLS]","")
        ans = ans.replace(query.lower(),"")
        
        print(ans) 
        print("And context is ....................\n")
        print(context)
        break 
    if(done == 20) :
        print("Sorry couldn't find a perfect answer !!!! :((")
        break

"you are just your intelligence"
And context is ....................

 She spoke the following words while traveling in the weightlessness of space, "You are just your intelligence" On her first mission, Chawla traveled over 10
Wall time: 5.5 s

In [45]:
def finding_answer(Con_list,query) :
    vector1 = text_to_vector(query)
    pattern3 = re.compile(r"[\n]+")
    pattern4 = re.compile(r"[=]+") 
    
    for i in range(len(Con_list)) :
        Con_list[i] = pattern3.sub("",Con_list[i])
        Con_list[i] = pattern4.sub("",Con_list[i])
    
    text = ""
    for i in range(len(Con_list)) :
        text += Con_list[i] 
        text += " "
        
    text = text.split(".")
    
    
    max_score = {}
    for i in range(0,len(text)-1,1) :
        context = text[i] + text[i+1]
        vector2 = text_to_vector(context)
        max_score[get_cosine(vector1,vector2)] = i 

    l = list(max_score.items())
    l.sort(reverse=True)
    max_score= dict(l)
    
    
    ans = "could not find an answer"
    done = 0 
    for k in max_score :
        index = max_score[k] 
        context = ""
        if(index != len(text)-1) :
            context = context = text[index] + text[index+1]
        else :
            context = context = text[index] + text[index-1]
        ans = answer(query,context)
        #print(ans,context)
        #print(done)
        done += 1 
        if(ans != "could not find an answer" ) :
            ans = ans.replace("[CLS]","")
            ans = ans.replace(query.lower(),"")

            print(ans) 
            print("And context is ....................\n")
            print(context)
            break 
        if(done == 20) :
            print("Sorry couldn't find a perfect answer !!!! :((")
            break

In [46]:
def complete(query) :
    query = query.lower()
    print("Query is ..............",query)
    Con_list , num_type = all_preprocessing(query)
    print()
    #print("Done preprocessing")
    #print(Con_list ,"is the content")
    if(num_type == 1) :
        answer = finding_answer(Con_list,query)
        print(answer)
    
    else :
        print(Con_list)

In [163]:
%%time 
complete("when MS Dhoni made his debut for India")

Query is .............. when ms dhoni made his debut for india
Searching for .......     ['ms', 'dhoni', 'made', 'debut', 'india']

Here is the list of similar words you may be looking for ...............

ms      ['mps', 'ms', 'cms', 'mes', 'rms']

dhoni      ['doi', 'don', 'donyi', 'dhvani', 'dhoni', 'dhondy', 'thondi', 'dhondo', 'dhani']

made      ['made', 'male', 'mandate', 'jade', 'aden', 'mahe', 'madhesi', 'remade', 'mande', 'mandare', 'maddale', 'mahadev', 'mandeep', 'maderna', 'mane']

debut      ['debut', 'but', 'deputy', 'debuts', 'debt', 'debutall', 'deb']

india      ['hindi', 'india', 'indian', 'indies', 'indiaall', 'india1933', 'indians', 'india1982', 'scindia', 'india1959', 'sindhi', 'nadia', 'indira', 'indonesia', 'india1950', 'india1932', 'india2013', 'india17th', 'india1919', 'india1907', 'india1952', 'india16th', 'india15th', 'india1879', 'india1984', 'gondia', 'india1937', 'india1956', 'india1898', 'india1977', 'india1973', 'india1925', 'indiaac', 'india1715', 'india14th', 'india1947', 'india1924', 'india1921', 'india1881', 'indiana', 'india1939', 'india1989', 'india1938', 'india1890', 'nadiad', 'india1930', 'india1917', 'indic', 'india1976', 'india1957', 'india11th', 'india1819', 'india1968', 'india1971', 'india1974', 'india19th', 'india1926', 'india1934', 'india150', 'induan', 'india1889', 'india365', 'india1941', 'indiaair', 'india1523', 'lindi', 'india1988', 'india1905', 'india1931', 'india1951', 'india1964', 'india1975', 'india1935', 'india1967', 'india12th', 'indie', 'india1928', 'india1980', 'sandia', 'india3rd', 'india21st', 'india1891', 'india1438', 'india20th', 'india1927', 'nadira', 'indra', 'dinda', 'shinda', 'incisa', 'indori', 'bindra', 'jindal', 'binita', 'vinda', 'dia', 'brinda', 'sindri']

If the suggestion is correct then press continue otherwise you can research your query
1
Added ....... MS Dhoni

imp keyword is ................ ['MS Dhoni']
Case 0

  bihar cricket team dhoni made his ranji trophy debut for bihar in the 1999–2000 season, as an eighteen-year-old he made a half century in his debut match scoring 68* in the second innings against assam cricket team
And context is ....................

 bihar cricket team dhoni made his ranji trophy debut for bihar in the 1999–2000 season, as an eighteen-year-old he made a half century in his debut match scoring 68* in the second innings against assam cricket team
None
Wall time: 4.44 s

### Sometimes the word you are searching for is not in the exact manner I've stores , so I can use the following code below written to find how I have stores that word in my database

In [159]:


for i in range(10088) :
    if "rao" in title[i].lower() :
        print(title[i],i)

Padmaja Rao 139
Simon Oraon 211
C. H. Hanumantha Rao 258
Saluri Rajeshwara Rao 301
Shamrao Madkaikar 405
Madhusudan Rao 487
P.V.Narasimha Rao 510
T. R. Subba Rao 578
Maya Rao 639
Duvvuri Subbarao 655
Baburao Govindrao Shirke 687
Malhar Rao Holkar 720
A. Ramana Rao 765
Ganpatrao Deshmukh 772
S. V. Ranga Rao 805
Rao Kadam Singh 836
Lalith J. Rao 848
K.L. Rao 849
Mysore Sadasiva Rao 960
Varavara Rao 1114
Muralidhar Rao 1310
Kartik Oraon 1632
V. Kasturi Ranga Varadarja Rao 1671
Ramoji Rao 1690
K. V. Krishna Rao 1811
Baburaoji Parkhe 1841
Rao Umrao Singh Bhati 2095
Rao Hashim Khan 2363
Dasari Narayana Rao 2489
Srirangam Srinivasarao 2506
Grandhi Mallikarjuna Rao 2535
Manikrao Thakre 2540
Kalvakuntla Chandrashekar Rao 2592
Narla Tata Rao 2704
A.N. Krishna Rao 2752
Pamulaparthi Sadasiva Rao 2882
A. S. Rao 2970
Aluru Venkata Rao 3131
Rao Tula Ram 3137
Ghantasala Venkateswara Rao 3146
Kaloji Narayana Rao 3174
B. Narsing Rao 3187
Joginder Rao 3214
U. R. Rao 3275
Burgula Ramakrishna Rao 3297
Keshavrao Krishnarao Datey 3372
Madhavrao I 3446
A. N. Prahlada Rao 3483
Nadendla Bhaskara Rao 3488
Rajkummar Rao 3527
Rao Gopal Singh Kharwa 3662
Vasantrao Deshpande 3736
T. Harish Rao 3749
Raja Rao 3870
Aditi Rao Hydari 3887
Gummadi Vittal Rao 4162
Tatyarao Lahane 4264
Rao Sikandar Iqbal 4343
P. Chandrasekhara Rao 4630
Rao Farman Ali 4635
Nirupama Rao 4657
Yashwantrao Chavan 4773
Jalagam Vengal Rao 4848
Yalaka Venugopal Rao 4855
Kiran Rao 4974
Saluri Rajeswara Rao 5259
Bhima Rao 5269
S.R. Rao 5356
N. T. Rama Rao 5413
Kakarla Subba Rao 5509
C. N. R. Rao 5569
K. Raghavendra Rao 5668
C. R. Rao 5718
Huilgol Narayana Rao 5843
Nandamuri Taraka Rama Rao 5915
Akkineni Nageswara Rao 5928
Brijendra Kumar Rao 5976
Gundu Rao 5985
Madhavrao Scindia 6058
Nagnath Lalujirao Kottapalle 6099
Kotcherlakota Rangadhama Rao 6177
Keshavrao Jedhe 6179
P. V. Narasimha Rao 6459
Yashwantrao Holkar 6521
Shilpa Rao 6531
Gurazada Apparao 6543
Rao Jodha 6566
Dhulappa Bhaurao Navale 6578
Maha Singh Rao 6932
Tikait Umrao Singh 7012
Rao Raja Hanut Singh 7043
Rao Birender Singh 7079
Vilasrao Deshmukh 7163
Palle Rama Rao 7191
Gururao Deshpande 7219
Pratapsingh Raoji Rane 7297
Kasinadhuni Nageswara Rao 7332
Rajanala Kaleswara Rao 7419
Kota Srinivasa Rao 7472
K. T. Rama Rao 7574
K. Chandrashekar Rao 7637
Taranath Rao 7650
N. T. Rama Rao Jr. 7908
Vandana Rao 7970
Rao Muhammad Afzal Khan 8009
Manepalli Narayana Rao Venkatachaliah 8298
M. V. Rao 8312
Mandar Rao Dessai 8572
VKRV Rao 8574
C.N.R. Rao 8577
B. Shankar Rao 8716
Umrao Singh 8874
Pingali Nagendra Rao 9066
Maharao Shardul Singh 9160
Rao Bika 9198
Shankarrao Chavan 9218
Bhaurao Patil 9227
Akkineni Nageshwara Rao 9352
Kanta Rao 9354
Rayapati Sambasiva Rao 9376
Nagaraja Rao Havaldar 9450
Gummadi Venkateswara Rao 9583
Dasari Prasada Rao 9601
Patangrao Kadam 9636
Jyotiraditya Madhavrao Scindia 9696
Garikapati Narasimha Rao 9726
Saluri Koteswara Rao 9729
P. Kalinga Rao 9775
Baji Rao I 10006
C.R.Rao 10020
Ammembal Subba Rao Pai 10082

In [107]:
"""
Problem with searches like A.P.J or C.V
"""

'\nProblem with searches like A.P.J or C.V\n'

In [49]:
%%time 

import spacy
nlp = spacy.load("en_core_web_sm")

Wall time: 3.11 s

In [50]:
%%time
doc = nlp("first test wickett of jasprit bumrah")

for tok in doc:
    print(tok, tok.pos_)

first PROPN
test PROPN
wickett PROPN
of ADP
jasprit PROPN
bumrah PROPN
Wall time: 115 ms

###### This births and deaths keyword can be used for counting primary keywords

In [51]:
%%time
count =  0 
for i in range(10088) :
    for j in range(len(data_categories[i])) :
        if 'births' in data_categories[i][j]:
            count += 1
            break 
        if 'deaths' in data_categories[i][j] :
            count += 1
        
            
print(count)

6513
Wall time: 2.65 s

In [140]:
temp = ["a","b","c"]
temp.remove("d")

ValueError: list.remove(x): x not in list